@mixin font($ff: inherit, $fz: inherit, $fc: inherit, $fw: 400, $lh: 1.6) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
    color: $fc;
}

@mixin posA($top: 50%, $left: 50%, $delta_x: -50%, $delta_y: -50%) {
    position: absolute;
    top: $top;
    left: $left;
    transform: translate($delta_x, $delta_y);
}

@mixin tr ($dur: .3s){
    transition: all $dur ease-in;
}

@mixin hover () {
    @include tr();
    &:hover,
    &:focus,
    &:active {
        @content;
    }
}